

/*======================================general==============================================*/
:root {
    --bg-color : #020204;
    --text-color : #fff;
    --accent-color : #C7A17A;
    --accent-color-dark : #A4815E;
    --grey-color : #DFDFDF;
    --dark-color : #14141D;
}

html,body {
    height: 100%;
}

body {
    min-width: 320px;
    font-family: 'Jost', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color .3s;
}
a:hover,
a.active {
    color: var(--accent-color);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.btn-warning {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--text-color);
    transition: all .3s;
    border-radius: 10px;
}
.btn-warning:hover {
    background-color: var(--accent-color-dark);
    border-color: var(--accent-color);
    color: var(--text-color);
}

/*======================================header==============================================*/

.header nav {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #32323D;
    background-color: var(--bg-color) !important;
    position: relative;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand img {
    max-width: 58px;
    transition: all .3s;
}

.navbar-brand:hover img {
    filter: drop-shadow(0 0 10px #fff);
}

.header .navbar-nav .nav-link {
    text-transform: uppercase;
    color: var(--text-color);
    padding-left: 17px;
    padding-right: 17px;
}

.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active{
    color: var(--accent-color);
}

.header-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.header-icons li {
    display: inline-block;
}
.header-icons li:not(:first-child){
    margin-left: 25px;
}
/*======================================header==============================================*/


/*======================================hero-section==============================================*/

.hero-section {
    background: url("img/hero.png") center no-repeat;
    background-size:cover ;
    padding-top: 150px;
    padding-bottom: 150px;
}
.hero-section-content {
    width: 50%;
    background: var(--bg-color);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 20px;
}
.hero-section-content h1 {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.44;
}
.hero-section-content p {
    font-size: 18px;
    color: var(--grey-color);
}

.hero-section-content .btn {
    padding: 12px 40px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;

}

/*======================================hero-section==============================================*/

/*======================================banner-section==============================================*/

.banner-section {
    margin-top: 80px;
    margin-bottom: 80px;
}
.banner-section-inner {
    display: flex;
}
.banner-section-img {
    width: 50%;
    position: relative;
}
.banner-section-img img {
    object-fit: cover;
    object-position:  right;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.banner-section-content {
    width: 50%;
    background-color: var(--dark-color);
    padding: 30px;
    border-radius: 0 10px 10px 0;
}
.banner-section-content h3 {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.banner-section-content p {
    font-size: 18px;
    color: var(--grey-color);
}

/*======================================banner-section==============================================*/

@media (min-width: 992px) {
    .header .navbar-nav .nav-item:first-child a {
        padding-left: 0;
    }
}
@media (max-width: 992px) {
    .hero-section {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .hero-section-content {
        width: 70%;
    }
    .hero-section-content h1 {
        font-size: 40px;
    }
    .banner-section-inner {
        flex-direction: column;
    }
    .banner-section-img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    .banner-section-content {
        width: 100%;
        border-radius: 0 0 10px 10px;
    }
    .banner-section-img img {
        border-radius: 10px 10px 0 0;
    }
}
@media (max-width: 768px) {
    .header nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .hero-section-content h1 {
        font-size: 30px;
    }
    .hero-section-content p {
        font-size: 16px;
    }
}
@media (max-width: 400px) {
    .header-icons li:not(:first-child) {
        margin-left: 10px;
    }
    .hero-section-content {
        width: 100%;
    }
}
