

/*======================================general==============================================*/
:root {
    --bg-color : #020204;
    --text-color : #fff;
    --accent-color : #C7A17A;
}

html,body {
    height: 100%;
}

body {
    min-width: 320px;
    font-family: 'Jost', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color .3s;
}
a:hover {
    color: var(--accent-color);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}